<h1>Assessments for Review</h1>

<table class="table">
  <thead>
    <tr>
      <th>Assessment Score</th>
      <th>Course Name</th>
      <th>Chapter Name</th>
      <th>Status</th>
      <th>Name</th>
      <th>Pet's Name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @assessments.each do |params|;quiz = params[:quiz];enrollment = params[:enrollment]; assessment = enrollment.quiz_responses[quiz]; student = enrollment.user %>
        <tr>
          <td> <%= assessment[:score] %> </td>
          <td> <%= enrollment.course.name %> </td>
          <td> <%= quiz.chapter.name %> </td>
          <% if(enrollment.status?(quiz) == :pending) %>
          <td class="text-danger"><%= enrollment.status?(quiz).to_s.titleize %> </td>
          <% else %>
          <td class="text-success"><%= enrollment.status?(quiz).to_s.titleize %><span style="font-size:x-large">✓</span></td>
          <% end %>
          <td> <%= student.owner.name %> </td>
          <td> <%= student.name %> </td>
          <td> <%= link_to 'Review', course_chapter_quiz_url(quiz.course,quiz.chapter,quiz)+"/#{student.id}/review", class: 'btn btn-sm btn-default' %> </td>
        </tr>
    <% end %>
  </tbody>
</table>
