<%= wrap do %>
  <h1 class="display-4"><%= @title %></h1>
  <p class="lead"><%= @slogan %></p>
  <hr class="my-4">
  <p><%= @body %></p>
  <a class="btn btn-default btn-lg" href="<%= create_link_url(@link) %>" role="button"><%= @link_text %></a>
<% end %>
