<%= bootstrap_form_with(model:page, local: true) do |form| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
        <% page.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.text_field :name %>
  </div>
  <% if(page.components.length > 0)
    page.components.each_with_index do |component,i| %>
      <div class="field">
        <%= render "component_select", index:i, form:form, component:component, component_options:Page.components %>
      </div>
      <% end %>
  <% else %>
  <div class="field">
    <%= render "component_select", index:0, form:form, component:nil, component_options:Page.components %>
  </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
