<%= bootstrap_form_with(model: donation, local: true) do |form| %>
  <% if donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
        <% donation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
      <%= form.select :category, Donation.categories %>
    </div>
    <div class="field">
      <%= form.select :payment_method, Donation.payment_methods %>
    </div>
    <div class="field">
      <%= form.number_field :amount, prepend: "$" %>
    </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
