<%= bootstrap_form_with(url:lesson_url(@lesson)+"/slides/new") do |form| %>
<div class='field'>
  <%= form.text_field :title %>
</div>
<div class='field'>

    <%= form.text_area :content, id:"editor" %>

</div>
<%
questions = []
@lesson.quiz.questions.each_index do |index|
  questions << [(index+1).to_s+". "+@lesson.quiz.questions.map(&:symbolize_keys)[index][:text], index]
 end %>
<div class='fieldWrap'>
<div class='fieldset'>
<div class='field question'>
      <%= form.select "questions[]".to_sym, questions,label:"Question", include_blank:true %>
</div>
</div>
<%= link_to "Add Question", "#",id:"addQuestion", class:"btn btn-sm btn-default toolbar" %>
</div>
<%
media = []
 @lesson.files.each do |file|
  media << [file.filename.to_s, file.filename.to_s]
end %>
<div class='fieldWrap'>
  <div class='mediaSet'>
    <div class='field media'>
          <%= form.select "media[]".to_sym, media,label:"Media", include_blank:true %>
    </div>
  </div>
<%= link_to "Add Media", "#",id:"addMedia", class:"btn btn-sm btn-default toolbar" %>
</div>
<%= form.submit "Save Changes", class:"btn btn-sm btn-default toolbar" %>
<% end %>
<script type="text/javascript">
  $("body").ready(()=>{
    $("#addQuestion").click((e)=>{
      e.preventDefault()
      questionDivs = $(".question")
      newQuestionDiv = $(questionDivs[questionDivs.length-1]).clone()
      $(".fieldset").append(newQuestionDiv)
      newQuestionDiv.val("")
    })
  })
</script>
