<% if(index == 0)
    carouselClass = "carousel-item active"
  else
    carouselClass = "carousel-item"
  end
%>
  <div class="<%= carouselClass %>" id="slide-<%= index %>">
      <% if(slide[:media].present?) %>
        <div class="container <%= slide[:vertical_alignment] %> <%= slide[:horizontal_alignment] %>">
          <% slide[:media].each_index do |index|;filename = slide[:media][index];file = @lesson.get_file(filename) %>
          <video-js class="videoPlayer vjs-big-play-centered" id="media-<%= index %>" controls>
            <source src="<%= url_for(file) %>" type="video/mp4">
          Videos are not supported in this browser. Please download a <a href="https://browsehappy.com/">Modern web browser.</a>
          </video-js>
          <% end %>
        </div>
      <% end %>

      <div class="container <%= slide[:vertical_alignment] %> <%= slide[:horizontal_alignment] %>">
        <%= slide[:content].html_safe  %>
      </div>
        <div class="container">
          <% if(@quiz.present? && @enrollment.present? && @enrollment.status?(@quiz) == :in_progress) %>
            <% if(slide[:questions].present? && slide[:questions].length > 0) %>
              <%= bootstrap_form_with(url:course_chapter_lesson_quiz_url(@quiz.course, @lesson.chapter,@lesson, @quiz)+"/#{current_user.id}/slide_response/") do |form| %>
                 <% slide[:questions].each_index do |i|; question = @lesson.quiz.questions[slide[:questions][i].to_i]  %>
                   <div id="question-<%= index %>">
                     <%= render 'quizzes/show_question', number:slide[:questions][i].to_i, form: form, question:question %>
                   </div>
                 <% end %>
                <div class="actions">
                  <%= form.submit "Submit Answers", class:"btn btn-default submitAnswers" %>
                </div>
              <% end %>
            <% end %>
          <% else %>
          <% if(slide[:questions].present? && slide[:questions].length > 0 && slide[:questions].first != "") %>
            <%= bootstrap_form_with(url:course_chapter_lesson_quiz_url(@quiz.course, @lesson.chapter,@lesson, @quiz)+"/#{current_user.id}/slide_response/") do |form| %>
               <% slide[:questions].each_index do |i|;qIndex = slide[:questions][i].to_i; question = @lesson.quiz.questions[qIndex]
               if(@enrollment.present?)
                 user_answer = @enrollment.quiz_responses[@quiz][:answers][qIndex]
                 correct_answer = @enrollment.quiz_responses[@quiz][:correct_answer][qIndex]
                 result =@enrollment.quiz_responses[@quiz][:results][qIndex]
               else
                 user_answer = @quiz[:questions][qIndex][:answer]
                 correct_answer = @quiz[:questions][qIndex][:answer]
                 result = :correct
               end
               %>
                 <div id="question-<%= index %>">
                   <%= render 'quizzes/show_answer', number:qIndex+1, form: form, question:question, user_answer:user_answer, correct_answer:correct_answer,result:result %>
                 </div>
                 <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
    </div>
    <script type="text/javascript">
      $(()=>{
        $(".videoPlayer").each((i,player)=>{
          // debugger
          videojs(player)
          videojs(player).height(300)
        })
      })
    </script>
