<h1>Editing Lesson</h1>

  <%= toolbar([back_button(course_path(@lesson.course)), view_button(lesson_path(@lesson))]) %>
  <div class="container border" style="margin-bottom: 1%;width: 45%;margin-left: 0%;">
    <div class="row">
      <div class="col border btn-default" style="margin-bottom: 1%;">
        Lesson files
      </div>
    </div>
  <% @lesson.files.each do |file| %>
  <div class="row" style="margin-bottom: 10px;">
      <div class="col-6" style="padding-top:1%;">
          <a href="<%= url_for(file) %>" style="color:#4b1310;"><%= file.filename.to_s %></a>
      </div>
      <div class="col">
        &nbsp
      </div>
      <div class="col">
          <%= link_to 'Delete', lesson_path(@lesson)+"/delete_file/#{file.id}", method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
      </div>
  </div>
  <% end %>
  </div>
  <div class="field">
    <%= link_to 'Upload File', "#", class: 'btn btn-sm btn-default toolbar', id:"startUpload" %>
  </div>
<div class="container">
  <%= render 'form', lesson:@lesson %>
</div>
  <%= render ModalComponent.new(title:"Upload Files", name:"uploadModal", body:render('add_file', lesson: @lesson), submit_button:"Upload")%>

<script>

    $('body').ready(()=>{
      completeUpload = (data)=>{
        
      }
      $('#uploadModal').modal({
        show: false
      })
      $('input','.actions').hide()
      $('#startUpload').click((e)=>{
        e.preventDefault()
        $('#uploadModal').modal('show')
      })
      window.modal["uploadModal"].onSubmit((e)=>{
        uf = $('form').last()[0]
        data = new FormData(uf)
        for(let n=0; n < $(':file')[0].files.length; n++)
        {
          data.append("files",$(':file')[0].files[0])
        }
        $(document).on("direct-upload:progress",(e)=>{
          console.log(e)
        })
      $.ajax({
            url: $('form',"#uploadModal")[0].action,
            data: data,
            type: "POST",
            contentType: false,
            processData: false,
            success:(data)=>{
              completeUpload(data)
            }
        });
        path =  $('form')[0].action
      })
      // $('#submit').click((e)=>{
      //   e.preventDefault()
      //   uf = $('form').last()[0]
      //   // debugger
      //   data = new FormData(uf)
      //   for(let n=0; n < $(':file')[0].files.length; n++)
      //   {
      //     data.append("files",$(':file')[0].files[0])
      //   }
      //   $(document).on("direct-upload:progress",(e)=>{
      //     console.log(e)
      //   })
      // $.ajax({
      //       url: $('form',"#uploadModal")[0].action,
      //       data: data,
      //       type: "POST",
      //       contentType: false,
      //       processData: false,
      //       success:()=>{
      //         completeUpload()
      //       }
      //   });
      //   path =  $('form')[0].action
      //   $('.modal-body').empty()
      //   $('.modal-body').html(`<div class="d-flex justify-content-center"><div class="spinner-grow" role="status">
      //     <div id="pathHolder" data-path="${path}" style="hidden:true"></div><span class="sr-only">Loading...</span></div></div>`)
      // })
    })
  </script>
