<div class="container">
  <div class="row">
    <h1>Lesson: <%= @lesson.name %></h1>
  </div>
</div>

<div class="container-fluid" data-controller="lesson">
<div class="row">
 <% if(@lesson.slides.nil? || @lesson.slides.length == 0) %>
   <div class="col-1">
     <%= render "lesson_content", lesson:@lesson  %>
  </div>
 <% else %>
  <% if(@chapter.present? && @chapter.lessons.length > 1)
      buttons = []
      buttons << back_button(@course)
      buttons << "<div class='col'>&nbsp</div>"
      if(@lesson != @chapter.lessons.first)
        previousLessonLink = link_to("Previous Lesson", [@chapter.course, @chapter, @chapter.lessons[@index-1]], class:'btn btn-sm btn-default chapterLesson previousLesson', style:"float: right; display:none")
      end
      if(@lesson != @chapter.lessons.last)
        nextLesson = @chapter.lessons[@index+1]
        nextLessonLink = link_to("Next Lesson", [@chapter.course, @chapter, @chapter.lessons[@index+1]], class:'btn btn-sm btn-default chapterLesson nextLesson', style:"float: right; display:none")
      end
      if(@lesson != @chapter.lessons.last)
       buttons << nextLessonLink
      end
      if(@lesson != @chapter.lessons.first) %>
        <% buttons << previousLessonLink %>
      <% end %>
      <%= toolbar(buttons)  %>
    <% end %>
    <div class="col">
      <%= render "slides", lesson:@lesson  %>
    </div>
      <%= render MessengerComponent.new(users:@course.online_users, lesson:@lesson, data:{target:"lesson.messenger"}) %>
  <% end %>
</div>
</div>


<% if(@chapter.present? && @chapter.lessons.length > 1)
  if(@lesson != @chapter.lessons.first) %>
    <%= link_to("Previous Lesson", [@chapter.course, @chapter, @chapter.lessons[@index-1]], class:'btn btn-sm btn-default toolbar chapterLesson previousLesson', style:"float: left;margin-top: 6px; margin-right: 6px; display:none")  %>
  <% end %><%
  if(@lesson != @chapter.lessons.last) %>
    <%= link_to("Next Lesson", [@chapter.course, @chapter, @chapter.lessons[@index+1]], class:'btn btn-sm btn-default toolbar chapterLesson nextLesson', style:"float: right;margin-top: 6px; margin-right: 6px; display:none")  %>
<% end
end %>
