
<h1>Invoice #<%= @invoice.number %></h1>
<% if(current_user != @invoice.user) %>
<div class="border">
  <div class="row">
    <div class="col">
      <strong>Client Name:</strong>&nbsp<%= @invoice.user.name %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <strong>Status:</strong>&nbsp<%= @invoice.status.titleize %><span title="<%= @invoice.status_info(@invoice.status) %>" style="font-size: large; color: maroon;">&nbsp🛈</span>
    </div>
  </div>
</div>
<% if(@invoice.status == "unpaid" || @invoice.status == "voided" || @invoice.status == "refunded" ) %>
  <%= delete_button(@invoice) %>
<% else %>
  <%= link_to 'Refund', invoice_refund_url(@invoice), title:"Click here to refund, or prevent settlement if the payment has not yet settled.", data: { confirm: 'Are you sure?' },class: 'btn btn-sm btn-danger' %>
<% end %>
<% else %>
  <%= link_to 'Checkout', invoice_checkout_path(@invoice), class: 'btn btn-sm btn-default' %>
<% end %>
<%= link_to 'Back', :back, class: 'btn btn-sm btn-secondary' %>
<%= render "show" %>
<% if(current_user == @invoice.user) %>
  <%= link_to 'Checkout', invoice_checkout_path(@invoice), class: 'btn btn-sm btn-default' %>
<% end %>
