<%= bootstrap_form_with(url:lesson_slide_url(@lesson, @index)+"/edit") do |form| %>
<div class='field'>
  <%= form.text_field :title, value:@lesson.slides[@index][:title].html_safe %>
</div>
<div class='field'>
  <% if(@index.present?) %>
    <%= form.text_area :content, id:"editor",value:@lesson.slides[@index][:content].html_safe %>
  <% else %>
    <%= form.text_area :content, id:"editor" %>
  <% end %>
</div>
<%
questions = []
media = []
@lesson.quiz.questions.each_index do |index|
  questions << [(index+1).to_s+". "+@lesson.quiz.questions[index][:text], index]
 end
@lesson.files.each do |file|
  media << [file.filename.to_s, file.filename.to_s]
end
 %>
<div class='fieldWrap'>
  <div class='qSet'>
    <div class='field question'>
        <% if(@lesson.slides[@index][:questions].present? && @lesson.slides[@index][:questions].length > 0)
          @lesson.slides[@index][:questions].each_index do |index| %>
            <%= form.select "questions[]".to_sym, questions,label:"Question", selected:@lesson.slides[@index][:questions][index].to_s, include_blank:true %>
          <% end %>
        <% else %>
          <%= form.select "questions[]".to_sym, questions,label:"Question", include_blank:true %>
        <% end %>
    </div>
  </div>
<%= link_to "Add Question", "#",id:"addQuestion", class:"btn btn-sm btn-default toolbar" %>
</div>

<div class='fieldWrap'>
  <div class='mediaSet'>
    <div class='field media'>
        <% if(@lesson.slides[@index][:media].present? && @lesson.slides[@index][:media].length > 0)
          @lesson.slides[@index][:media].each do |file| %>
            <%= form.select "media[]".to_sym, media,label:"Media", selected:file, include_blank:true %>
          <% end %>
        <% else %>
          <%= form.select "media[]".to_sym, media,label:"Media", include_blank:true %>
        <% end %>
    </div>
  </div>
<%= link_to "Add Media", "#",id:"addMedia", class:"btn btn-sm btn-default toolbar" %>
</div>

<%= form.submit "Save Changes", class:"btn btn-sm btn-default toolbar" %>
<% end %>
<script type="text/javascript">
  $("body").ready(()=>{
    $("#addQuestion").click((e)=>{
      e.preventDefault()
      questionDivs = $(".question")
      newQuestionDiv = $(questionDivs[questionDivs.length-1]).clone()
      $(".qSet",e.currentTarget.parentElement).append(newQuestionDiv)
      newQuestionDiv.val("")
    })
    $("#addMedia").click((e)=>{
      e.preventDefault()
      mediaDivs = $(".media")
      newMediaDiv = $(mediaDivs[mediaDivs.length-1]).clone()
      $(".mediaSet",e.currentTarget.parentElement).append(newMediaDiv)
      newMediaDiv.val("")
    })
  })
</script>
