<h3>Lesson Slides</h3>
<script type="text/javascript">
  window.slideReorderEndpoint = "<%= lesson_slides_reorder_path(lesson) %>"
</script>
<%= link_to "New Slide", lesson_path(lesson)+"/slides/new", class:'btn btn-sm btn-default toolbar' %>
<% if(lesson.slides.length > 0)%>
<br><small>To change slide order, click on a row and drag it.</small>
<% end %>
<div class="table sortable">
  <div class="header-row">
    <div class="col header-cell">Title</div>
    <div class="col-2 header-cell"></div>
  </div>
  <tbody>
    <%
    if(lesson.slides.length > 0)
      lesson.slides.each_index do |index|;slide =  lesson.slides[index] %>
        <div class="row border-top slideRow" data-id=<%= index %>>
            <div class="col"><%= slide[:title] %></div>
            <div class="col"><%= edit_button lesson_slide_path(lesson,index)+"/edit", class:'btn btn-sm btn-default' %></div>
            <div class="col"><%= delete_button lesson_slide_path(lesson,index) %></div>
        </div>
        <% end %>
      <% else %>
      <div class="row border-top" style="padding: 0.75rem; margin-left: 32%;">
        There are no slides in this lesson yet. Click the button above to add one.
      </div>
    <% end %>
  </tbody>
</div>
<script type="text/javascript">
  $(".sortable").ready(()=>{
    numCols = 3
    var group = $('.sortable').sortable({
      containerSelector: '.table',
      containerPath: '> tbody',
      itemSelector: '.slideRow',
      delay:500,
      placeholderClass:"placeholder",
      placeholder: `<div class="placeholder row bg-default"><div class='col'></div><div class='col'></div><div class='col'></div></div>`,
      pullPlaceholder:true,
      isValidTarget:function ($item, container) {
        console.log(container)
        return $item.hasClass("slideRow")
      },
      onDrop:function ($item, container, _super) {
        var data = group.sortable("serialize").get()[0];

        var jsonString = JSON.stringify(data, null, ' ');


        $.ajax({
              url: window.slideReorderEndpoint,
              data: {slideOrder:data},
              type: "POST"
          });
        // $('#serialize_output2').text(jsonString);
        _super($item, container);
      }
    });
  })
</script>
