<div class="row">
  <div class="col">
    <h1><%= @course.name %></h1>
  </div>
</div>

<div class="row border" style="text-indent: 3em; margin-bottom: 1%;"><p>
  <%= @course.description %>
</p>
</div>
<%= bootstrap_form_with(url:course_enrollment_url(@course)) do |form| %>
  <%
    pet_choices = current_user.pets.select{|pet| !@course.enrolled?(pet)}.collect{|pet| [pet.name.titleize,pet.id]}
    pet_choices << ["Add a New Pet...",0]
    if(current_user.pets.select{|pet| !@course.enrolled?(pet)}.length > 0)
      selected_pet = current_user.pets.select{|pet| !@course.enrolled?(pet)}.first.id
    else
      selected_pet = 0
    end
   %>
  <%= form.select :pet_id, pet_choices, selected:selected_pet,label:"Select a Pet to Enroll"  %>
  <%= form.submit "Enroll Pet", class:"btn btn-default" %>
<% end %>
