<%
  buttons = [back_button(course_path(lesson.course))]
  if(current_user_is?("admin"))
    buttons << edit_button( edit_lesson_path(lesson))
  end
  if(lesson.files.select{|f|f.filename.to_s.split('.').last == "docx"}.count > 0 ); imported =lesson.files.select{|f|f.filename.to_s.split('.').last == "docx"}.first
    buttons << "<a href=' #{url_for(imported)}' style='color:#4b1310'> #{text_icon(3)} Download this lesson (.docx) </a>"
  end
%>
<%= toolbar(buttons, class:"border") %>

<div class="row border">
<p style="text-indent: 3em; margin-bottom: 1%;"><%= lesson.description %></p>
</div>
<% if(lesson.files.count > 0)%>
<div class="container">
  <% lesson.files.each do |file| %>
    <% if(file != imported) %>
        <% if(file.filename.to_s.split(".").last == "mpeg" || file.filename.to_s.split(".").last == "mpg" || file.filename.to_s.split(".").last == "mp4") %>
        <div class="col-4 border">
          <%== player_video(file,video_path(lesson,file))  %>
        </div>
        <% elsif(file.previewable?) %>
        <div class="col-4 border">
          <a href="<%= url_for(file) %>"> <%= image_tag(url_for(file), style:"max-width: 200px;") %> </a>
        </div>
        <% elsif(file.filename.to_s.split(".").last == "docx") %>

        <% end %>

  <% end %>
<% end %>
</div>
<% end %>

  <%== lesson.content %>

<script>
    $('body').ready(()=>{

      $('.video').click((e)=>{
        e.preventDefault()
        video_url = e.target.parentElement.dataset["video"]
        // debugger
        url = window.location.href + video_url
        window.location.href = url
        // $('#playerSource').attr('src', video_url)
        // $('#videoModal').modal('show')
        // videojs($('#videoPlayer')[0],{ "controls": true, "autoplay": true, "preload": "auto" })
      })

    })
  </script>
  <style media="screen">
    .video:hover {
      text-shadow: 0em 0em 2em white;

    }
  </style>
