<%= toolbar([back_button(galleries_path),link_to('Upload File', "#", class: 'btn btn-sm btn-default', id:"startUpload")]) %>
<% if(notice) %>
<div class='alert alert-primary' role='alert' id='notice' style='margin-top:1%;'><%= notice %></div>
<% end %>

  <h1>Gallery: <%= @gallery.name %></h1>



  <div class='container' id='fileList'>
    <table class='table'>
      <thead>
        <th>Preview</th>
        <th>Name</th>
        <th>Created at:</th>
        <th>Size</th>
        <th colspan=2></th>
      </thead>
      <tbody>
        <% @gallery.files.each do |file| %>
        <tr>
          <td><%= render("file_preview", file:file, link:gallery_show_file_path(@gallery)+"?filename=#{file.filename.to_s}")%></td>
          <td><%= link_to(file.filename, gallery_show_file_path(@gallery)+"?filename=#{file.filename.to_s}") %></td>
          <td><%= file.created_at %></td>
          <td><%= file.byte_size/1000 %> kB</td>
          <td><%= link_to 'View', url_for(file), class: 'btn btn-sm btn-default' %></td>
          <td><%= link_to 'Delete', file, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>


<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload Files</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'add_file', gallery: @gallery %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-default" id="submit">Upload</button>
      </div>
    </div>
  </div>
</div>
<script>
    $('body').ready(()=>{
      completeUpload = ()=>{
        pth = $("#pathHolder").data("path")
        pth = pth.replace('upload','show_files')
        $.get(pth,(content)=>{
            $("#fileList").replaceWith(content)
        })
        $('#uploadModal').modal('hide')
      }
      $('#uploadModal').modal({
        show: false
      })
      $('input','.actions').hide()
      $('#startUpload').click((e)=>{
        e.preventDefault()
        $('#uploadModal').modal('show')
      })
      $('#submit').click(()=>{
        uf = $('form')
        data = new FormData($('form')[0])
        for(let n=0; n < $(':file')[0].files.length; n++)
        {
          data.append("files",$(':file')[0].files[0])
        }
        $.ajax({
            url: $('form')[0].action,
            data: data,
            type: 'POST',
            contentType: false,
            processData: false,
            success:()=>{
              completeUpload()
            }
        });
        path =  $('form')[0].action
        $('.modal-body').empty()
        $('.modal-body').html(`<div class="d-flex justify-content-center"><div class="spinner-grow" role="status">
          <div id="pathHolder" data-path="${path}" style="hidden:true"></div><span class="sr-only">Loading...</span></div></div>`)
      })
    })
  </script>
