<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/items_for_head" %>
    <meta name="current-user" id="<%= @current_user.try(:name).parameterize %>">
    <meta name="lesson-slug" id="<%= @lesson.slug %>">
  </head>

  <body>
    <%= render "shared/nav" %>
    <%= render "shared/flash_messages" %>
    <%= yield %>
  </body>
  <script src="https://vjs.zencdn.net/7.7.5/video.js"></script>
</html>
