<h1>User Management</h1>
<%= toolbar([link_to('All users', "/users/", class:'btn btn-sm btn-default'),link_to( 'Admins', "/users/admins", class:'btn btn-sm btn-default'),link_to( 'Instructors', "/users/instructors", class:'btn btn-sm btn-default'),link_to( 'Students', "/users/students", class:'btn btn-sm btn-default')])%>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Type</th>
      <th>Online?</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.type.capitalize %></td>
        <% if(user.online) %>
          <td class="text-success">Online</td>
        <% else %>
          <td class="text-danger">Offline</td>
        <% end %>
        <% if(user.reset_password_token.present?) %>
          <td class="text-success">Reset Pending</td>
        <% else %>
          <td class="text-success">&nbsp</td>
        <% end %>
        <td><%= link_to 'Edit', "/users/#{user.id}/edit", class:'btn btn-sm btn-secondary' %></td>
        <td><%= link_to 'Delete', user_registration_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-sm btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
